<section id="concept" class="concept">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="concept__container">
                    <div class="concept__title">
                        <h3>concept</h3>
                    </div>
                    <div class="concept__description">
                        <p>Electromobility in harmony with man and nature. The eco-friendly organic battery technology and
                            smart operating strategy of the VISION AVTR concept car.
                        </p>
                    </div>
                    <div class="concept__img">
                        <img src="img/concept-img.jpg" alt="img">
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</section>