<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <div class="header__burger">
                    <input type="checkbox" id="burger">
                    <label class="burger" for="burger"><img src="img/burger.svg" alt="burger-icon"></label>
                    <div class="burger__menu">
                        <div class="menu__nav d-flex justify-content-center">
                            <ul>
                                <li>
                                    <a href="#concept">Concept</a>
                                </li>
                                <li>
                                    <a href="#premier">Premier</a>
                                </li>
                                <li>
                                    <a href="#video">Video</a>
                                </li>
                                <li>
                                    <a href="#interior-exterior">Interior & exterior</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu__social">
                            <ul>
                                <li>
                                    <a target="_blank" href="https://twitter.com/">
                                        <img src="img/Twitter.svg" alt="twitter">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.google.com.ua/">
                                        <img src="img/Google.svg" alt="google">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://uk-ua.facebook.com/">
                                        <img src="img/Facebook.svg" alt="facebook">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header__logo">
                    <img src="img/logo.svg" alt="logo">
                </div>
                <div class="header__nav">
                    <ul>
                        <li>
                            <a target="_blank" href="https://twitter.com/">
                                <img src="img/Twitter.svg" alt="twitter">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com.ua/">
                                <img src="img/Google.svg" alt="google">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://uk-ua.facebook.com/">
                                <img src="img/Facebook.svg" alt="facebook">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>