<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <div class="header__burger">
                    <input type="checkbox" id="burger">
                    <label class="burger" for="burger"><img src="img/burger.svg" alt="burger-icon"></label>
                    <div class="burger__menu">
                        <div class="menu__top_btn">
                            <a href="#top" class="top_btn__link" aria-label="Scroll to Top">
                                <img src="img/top-arrow.svg" alt="top">
                            </a>
                        </div>
                        <div class="menu__nav d-flex justify-content-center">
                            <ul>
                                <li>
                                    <a href="#concept">Concept</a>
                                </li>
                                <li>
                                    <a href="#premier">Premier</a>
                                </li>
                                <li>
                                    <a href="#video">Video</a>
                                </li>
                                <li>
                                    <a href="#interior-exterior">Interior & exterior</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu__social">
                            <ul>
                                <li>
                                    <a target="_blank" href="https://twitter.com/search?q=%23avtr">
                                        <img src="img/Twitter.svg" alt="twitter">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.google.com/search?q=%D0%BC%D0%B5%D1%80%D1%81%D0%B5%D0%B4%D0%B5%D1%81+avtr&rlz=1C1OKWM_ukUA848UA848&oq=&aqs=chrome.0.35i39i362l8.6863432839j0j15&sourceid=chrome&ie=UTF-8">
                                        <img src="img/Google.svg" alt="google">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/watch/?v=301818875101830">
                                        <img src="img/Facebook.svg" alt="facebook">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header__logo">
                    <img src="img/logo.svg" alt="logo">
                </div>
                <div class="header__nav">
                    <ul>
                        <li>
                            <a target="_blank" href="https://twitter.com/search?q=%23avtr">
                                <img src="img/Twitter.svg" alt="twitter">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com/search?q=%D0%BC%D0%B5%D1%80%D1%81%D0%B5%D0%B4%D0%B5%D1%81+avtr&rlz=1C1OKWM_ukUA848UA848&oq=&aqs=chrome.0.35i39i362l8.6863432839j0j15&sourceid=chrome&ie=UTF-8">
                                <img src="img/Google.svg" alt="google">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/watch/?v=301818875101830">
                                <img src="img/Facebook.svg" alt="facebook">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>