<section id="interior-exterior" class="design">
    <div class="container">
        <div class="row">
            <div class="design__interior">
                <div class="col-12 col-lg-3">
                    <div class="interior__title">
                        <h3>interior & exterior</h3>
                    </div>
                    <div class="interior__describe">
                        <p>
                            Design VISION AVTR - the epitome of sustainability
                        </p>
                        <p>The pioneering VISION AVTR concept combines the sustainable interaction of interior
                            design,
                            exterior design and UX. The entire design process was focused on a specific result - a
                            unique
                            experience of interaction and perception of the concept car by the driver and
                            passengers.
                        </p>
                        <p>
                            The outer side opening extends through the interior and creates an endless loop inspired
                            by the
                            sacred connection between the Na'vi people in the movie Avatar and their natural
                            habitat. It was
                            about creating a unique space in which passengers have a biometric connection with each
                            other,
                            with the vehicle and the outside world.
                            Thus, having gone from the concept of
                            awareness to the unique fusion of man and car.
                        </p>
                        <p>
                            Also, with its elongated "One Bow" design and organic design philosophy, the VISION AVTR
                            represents a radical new stage in the automotive industry. Thus, having gone from the
                            concept of
                            awareness to the unique fusion of man and car, Mercedes-Benz engineers succeeded in
                            creating the
                            VISION AVTR concept electric vehicle.
                        </p>
                    </div>
                </div>
                <div class="col-9">
                    <div class="interior__img">
                        <img src="img/interior1.jpg" alt="img">
                    </div>
                    <div class="block__interior">
                        <p class="interior__text">
                            A concise continuation of the external minimalist design are the front seats, made in a very
                            organic form, which resembles leafy hammocks from the planet Pandora. The center console
                            symbolizes the Tree of Souls, the Na'vi's most sacred site. The control unit is intuitive
                            and
                            incredibly functional.
                            It was
                            about creating a unique space in which passengers have a biometric connection with each
                            other,
                            with the vehicle and the outside world.

                        </p>
                        <div>
                            <img src="img/interior2.webp" alt="img">
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="design__slider">
        <img class="slider__img" src="img/slider-1.jpg" alt="img">
        <img class="slider__img" src="img/slider-2.jpg" alt="img">
        <img class="slider__img" src="img/slider-3.jpg" alt="img">
        <img class="slider__img" src="img/slider-4.jpg" alt="img">
        <img class="slider__img" src="img/slider-1.jpg" alt="img">
        <img class="slider__img" src="img/slider-2.jpg" alt="img">
        <img class="slider__img" src="img/slider-3.jpg" alt="img">
        <img class="slider__img" src="img/slider-4.jpg" alt="img">
    </div>
    <div class="design__text">
        <p class="text_left">
            In addition, the control center is located in such a way that it is easily accessible to both the driver and
            passenger, as well as rear passengers.
            <br>
            <br>
            In this way, VISION AVTR establishes a close biometric connection with the driver and helps to increase
            awareness of the surrounding situation.
        </p>
        <p>
            The back of the seats and the interior of the roof are made of a special fabric that changes color.
            Depending on the lighting, textiles can be dark blue or delicate light blue.
            <br>
            <br>
            But beyond that, the eco-friendliness of the interior of the electric car is further enhanced with DINAMICA®
            vegan leather, the first and only microfiber that guarantees eco-efficiency throughout the entire production
            cycle.
            <br>
            <br>
            DINAMICA® is recycled material from old clothes, fabrics and PET plastic bottles.
        </p>
    </div>
    <div class="design__exterior">
        <img src="../img/design-bg.webp" alt="img">
    </div>
</section>