<section class="design">
    <div class="container">
        <div class="design__interior">
            <div class="design__column one">
                <div class="design__title">
                    <h3>interior & exterior</h3>
                </div>
                <p>
                    Design VISION AVTR - the epitome of sustainability
                </p>
                <p>The pioneering VISION AVTR concept combines the sustainable interaction of interior design,
                    exterior design and UX. The entire design process was focused on a specific result - a unique
                    experience of interaction and perception of the concept car by the driver and passengers. It was
                    about creating a unique space in which passengers have a biometric connection with each other,
                    with the vehicle and the outside world.
                </p>
                <p>The outer side opening extends through the interior and creates an endless loop inspired by the
                    sacred connection between the Na'vi people in the movie Avatar and their natural habitat.
                </p>
                <p>Also, with its elongated "One Bow" design and organic design philosophy, the VISION AVTR
                    represents a radical new stage in the automotive industry. The center console
                    symbolizes the Tree of Souls, the Na'vi's most sacred site. Thus, having gone from the concept of
                    awareness to the unique fusion of man and car, Mercedes-Benz engineers succeeded in creating the
                    VISION AVTR concept electric vehicle.
                </p>
            </div>
            <div class="design__column two">
                <img src="img/interior1.jpg" alt="img">
            </div>
            <div class="design__column three">
                <p>
                    A concise continuation of the external minimalist design are the front seats, made in a very
                    organic form, which resembles leafy hammocks from the planet Pandora. The center console
                    symbolizes the Tree of Souls, the Na'vi's most sacred site. The control unit is intuitive and
                    incredibly functional.
                </p>
            </div>
            <div class="design__column four">
                <img src="img/interior2.webp" alt="img">
            </div>
        </div>
    </div>
</section>