<section id="premier" class="premier">
    <div class="container">
        <div class="container__premier">
            <div class="premier__column">
                <div class="premier__title">
                    <h3>Premier</h3>
                </div>
                <div class="premier__description">
                    <p class="pt-3">
                        A new concept Mercedes-Benz, the VISION AVTR, was unveiled at CES 2020. The futuristic
                        concept of the presented electric vehicle unites man, nature and the car in a unique way.
                    </p>
                    <p class="pt-3">
                        Ola Kallenius, Chairman of the Management Board of Daimler AG and Mercedes-Benz AG,
                        presented the concept car in a speech along with Academy Award winner and Avatar filmmaker
                        James Cameron.
                    </p>
                    <p class="pt-3">
                        It was the philosophy created by the cult director in a science fiction film that became the basis
                        creation of VISION AVTR.
                    </p>
                </div>
                <div class="premier__img">
                    <img src="img/premier-img.jpg" alt="img">
                </div>
                <button>more</button>
            </div>
            <div class="premier__column">
                <div class="premier__img">
                    <img src="img/premier-image.webp" alt="img">
                </div>
                <div class="premier__description">
                    <p>
                        “Mercedes-Benz has always been one of the most technologically advanced premium brands. Now it's
                        time to combine luxury and sustainability. After all, only in this way can we meet the standards of
                        the future.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>