.concept{
    background-color: #070A1B;
    font-family: 'Roboto Condensed';
    padding-top: 150px;
    @media screen and (max-width:992px){
        padding-top: 100px;
    }
    &__container{
        max-width: 900px;
        margin-left: auto;
        .concept__title{
            margin-bottom: 25px;
            h3{
                font-weight: 700;
                font-size: 18px;
                line-height: 120%;
                color: #F402A2;
                text-transform: uppercase;
                @media screen and (max-width:992px){
                    font-size: 24px;
                }
            }
        }

        .concept__description{
            margin-bottom: 25px;
            p{
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;
                color: #FFFFFF;
                @media screen and (max-width:768px){
                    font-size: 18px;
                }
            }
        }

        .concept__img{
            display: flex;
            img{
                flex: auto;
                width: 100%;
            }
        }
    }
}