.footer{
    background-color: #070A1B;
    font-family: 'Roboto Condensed';
    height: 300px;
    display: flex;
    align-items: center;
   

    &__mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width:768px){
            flex-direction: column-reverse;
        }

        .footer__link{
            a{
                color: #fff;
                cursor: pointer;
            }

            @media screen and (max-width:768px){
                margin-top: 20px;
            }
        }

        .footer__logo{
            cursor: pointer;

            @media screen and (max-width:768px){
                margin-top: 20px;
            }
        }


    .footer__nav{
        ul{
            display: flex;
            :nth-child(2){
                margin-left: 30px;
            }
            :nth-child(3){
                margin-left: 30px;
            }
            li{
                a{
                    &:hover img{
                        background-color: #C1A1D2;
                        border-radius: 50%;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
    }
}