.footer{
    background-color: $var1;
    font-family: $var6;
    height: 300px;
    display: flex;
    align-items: center;
    @media screen and (max-width:768px){
        height: 200px;
    }
   

    &__mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width:768px){
            flex-direction: column-reverse;
        }

        .footer__link{
            a{
                color: $var4;
                cursor: pointer;
            }

            @media screen and (max-width:768px){
                margin-top: 20px;
            }
        }

        .footer__logo{
            cursor: pointer;
            img{
                @media screen and (max-width:800px){
                    width: 180px;
                    height: 20px;
                }
            }

            @media screen and (max-width:768px){
                margin-top: 20px;
            }
        }


    .footer__nav{
        ul{
            display: flex;
            :nth-child(2){
                margin-left: 30px;
            }
            :nth-child(3){
                margin-left: 30px;
            }
            li{
                a{
                    img{
                        padding: 4px;
                    }
                    &:hover img{
                        background-color: $var3;
                        border-radius: 50%;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
    }
}