.header {
    position: sticky;
    top: 0;
    background-color: $var1;
    font-family: $var6;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    &__burger {
        .menu__btn {
            cursor: pointer;

            &.active span {
                background-color: transparent;

                &::before {
                    transform: translateY(10px) rotate(45deg);
                    transition: all 0.3s ease 0s;
                }

                &::after {
                    transform: translateY(-10px) rotate(-45deg);
                    transition: all 0.3s ease 0s;
                }
            }

            position: fixed;
            top: 25px;
            left: 70px;
            z-index: 100;
            width: 50px;
            height: 50px;
            overflow: hidden;
            @media screen and (max-width:900px) {
                left: 10px;
            }

            span {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            span,
            span::before,
            span::after {
                position: absolute;
                width: 40px;
                height: 2px;
                background-color: $var4;
                @media screen and (max-width:900px) {
                    width: 30px;
                    height: 1px;
                }
            }

            span::before {
                content: '';
                top: -10px;
            }

            span::after {
                content: '';
                top: 10px;
            }

        }

        .burger__menu {
            display: none;

            &.open {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1;
                background: rgb(86, 2, 142);
                background: radial-gradient(circle, rgba(86, 2, 142, 1) 0%, rgba(157, 19, 226, 0.21332282913165268) 68%, rgba(222, 12, 236, 1) 100%);
                border-radius: 0 40px 40px 0;
                width: 40%;
                height: 100vh;
                padding: 10px;
            }

            .menu__nav {
                margin-top: 90px;

                ul {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    li {
                        margin: 20px 0;

                        a {
                            color: $var2;
                            cursor: pointer;
                            font-size: 32px;
                            font-weight: 600;

                            @media screen and (max-width:992px) {
                                font-size: 30px;
                                font-weight: 600;
                            }

                            @media screen and (max-width:700px) {
                                font-size: 24px;
                                font-weight: 600;
                            }

                            @media screen and (max-width:500px) {
                                font-size: 20px;
                                font-weight: 600;
                            }

                            @media screen and (max-width:400px) {
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }

                        &:hover {
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .menu__social {
                padding-top: 30px;

                ul {
                    display: flex;
                    justify-content: center;

                    :nth-child(2) {
                        margin-left: 30px;
                    }

                    :nth-child(3) {
                        margin-left: 30px;
                    }

                    li {
                        a {
                            img {
                                width: 70px;
                                height: 70px;
                                padding: 10px;
                                @media screen and (max-width:700px) {
                                    width: 50px;
                                    height: 50px;
                                }
                                @media screen and (max-width:500px) {
                                    width: 30px;
                                    height: 30px;
                                    padding: 5px;
                                }
                                @media screen and (max-width:400px) {
                                    width: 20px;
                                    height: 20px;
                                    padding: 2px;
                                }
                            }

                            &:hover img {
                                background: rgb(86, 2, 142);
                                background: radial-gradient(circle, rgba(86, 2, 142, 1) 0%, rgba(157, 19, 226, 0.21332282913165268) 68%, rgba(222, 12, 236, 1) 100%);
                                border-radius: 50%;
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }
        }
    }

    &__logo {
        cursor: pointer;

        img {
            @media screen and (max-width:800px) {
                width: 180px;
                height: 20px;
            }
        }
    }

    &__nav {
        @media screen and (max-width:600px) {
            display: none;
        }

        ul {
            display: flex;

            :nth-child(2) {
                margin-left: 30px;
            }

            :nth-child(3) {
                margin-left: 30px;
            }

            li {
                a {
                    img {
                        padding: 4px;
                    }

                    &:hover img {
                        background-color: $var3;
                        border-radius: 50%;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}