.header{
    background-color: $var1;
    font-family: $var6;
    height: 100px;
    display: flex;
    align-items: center;

    &__burger{
        #burger{
            opacity: 0;
        }
        #burger:checked ~ .burger__menu{
            visibility: visible;
            left: 0;
        }

        .burger{
            cursor: pointer;
        }
      
        .burger__menu{
            display: block;
            position: fixed;
            visibility: hidden;
            top: 10;
            left: -100%;
            z-index: 1;
            background: rgb(86,2,142);
            background: radial-gradient(circle, rgba(86,2,142,1) 0%, rgba(157,19,226,0.21332282913165268) 68%, rgba(222,12,236,1) 100%);
            width: 20%;
            height: 300px;
            padding: 10px;
            border-radius: 20%;
            @media screen and (max-width:992px){
                width: 30%;
            }
            @media screen and (max-width:700px){
                width: 40%;
            }
            @media screen and (max-width:500px){
                width: 50%;
            }
            @media screen and (max-width:400px){
                width: 60%;
            }

            .menu__top_btn{
                display: flex;
                justify-content: center;
            }
            
            .menu__nav{
                padding-top: 30px;
                ul{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    li{
                        margin: 5px 0;
                        a{
                            color: $var2;
                            cursor: pointer;
                            font-size: 20px;
                            font-weight: 600;
                        }
                        &:hover{
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .menu__social{
                padding-top: 30px;
                ul{
                    display: flex;
                    justify-content: center;
                    :nth-child(2){
                        margin-left: 30px;
                    }
                    :nth-child(3){
                        margin-left: 30px;
                    }
                    li{
                        a{
                            img{
                              padding: 4px;
                            }
                            &:hover img{
                                background: rgb(86,2,142);
                                background: radial-gradient(circle, rgba(86,2,142,1) 0%, rgba(157,19,226,0.21332282913165268) 68%, rgba(222,12,236,1) 100%);
                                border-radius: 50%;
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }
        }
    }

    &__logo{
        cursor: pointer;
        img{
            @media screen and (max-width:800px){
                width: 180px;
                height: 20px;
            }
        }
    }

    &__nav{
        @media screen and (max-width:600px){
          display: none;
        }
        ul{
            display: flex;
            :nth-child(2){
                margin-left: 30px;
            }
            :nth-child(3){
                margin-left: 30px;
            }
            li{
                a{
                    img{
                      padding: 4px;
                    }
                    &:hover img{
                        background-color: $var3;
                        border-radius: 50%;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}