.design{
    background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
    color: #fff;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    &__interior{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 100px;
        @media screen and (max-width:992px){
            flex-direction: column;
            align-items: center;
        
        }
        .interior__title{
            padding-bottom: 25px;
            h3{
                font-weight: 700;
                font-weight: 700;
                font-size: 18px;
                line-height: 120%;
                color: #F402A2;
                text-transform: uppercase; 
            }
        }

        .interior__describe{
            p{
                padding: 0 44px 30px 0;
                @media screen and (max-width:992px){
                    padding: 15px 0;
                }
            }
        }

        .interior__img{
            padding-bottom: 90px;
            img{
                flex: auto;
                width: 100%;
                max-height: 450px;
            }

            @media screen and (max-width:992px){
                padding-bottom: 40px;
            }
        }

        .block__interior{
            display: flex;
            justify-content: space-between;
            .interior__text{
                width: 30%;
                @media screen and (max-width:992px){
                  width: 100%;
                  padding-bottom: 40px;
                }
            }
    
            img{
                display: flex;
                flex: auto;
                width: 100%;
                max-height: 205px;
            }

            @media screen and (max-width:992px){
                flex-direction: column;
                align-items: center;
            }
        }

       
    }

    .design__slider{
        padding-bottom: 25px;
        .slider__img{
            margin: 0 18px;
            max-width: 360px;
        }

        .slick-track{
           margin: 0 -50px;
        }

        .arrow{
            position: absolute;
            z-index: 10;
            cursor: pointer;
            bottom: 0;
            left: 50%;
            &.left{
                transform: translateX(-70px);
            }

            &.right{
                transform: translateX(30px);
            }
        }
    }

    .design__text{
        padding: 150px 0;
        display: grid;
        grid-template-columns: auto auto;
        gap: 60px;

        p{
            width: 50%;
            display: flex;
        }

        .text_left{
        margin-left: auto;
        }
    }

    .design__exterior{
        img{
            max-width: 100%;
            display: block;
            object-fit: cover;
        }
    }
}

